<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Edit Profile</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <form action="/profile/<%= user.profile._id %>/edit?_method=PATCH" method="POST">
        <p>Change Username:</p>
        <input id="comment-input-background" value="<%= profile.userName %>" type="text" name="userName" id="username-input">
        <br><br>
        <p>Change About Me:</p>
        <textarea id="comment-input-background" name="aboutMe" id="about-me" cols="30" rows="10"><%= profile.aboutMe %></textarea>
        <br>
        <button id="inline-button" type="submit">Save</button>
      </form>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
