<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
      src="<%= user.profile.avatar %>"
      alt="<%= user.profile.name %> avatar"
      />
    </div>
    <% } %>
    
  <h1>Syndic8</h1>
  <h2>Keeping up with TV content made easy and social.<h2>
  <br>
  <h3>Enter a show title to search and add shows to your lists.</h3><br>

<form action="/query" method="POST">

  <label for="search-input"></label>
  <input name="query" value="enter show name" type="text" id="search-input">

  <button type="submit">Search</button>
</form>

</main>

<%- include('./partials/footer') %>
