<%- include('./partials/html-head') %>

<% if (!user) { %>
  <script defer src="https://accounts.google.com/gsi/client"></script>
<% } %>
</head>
<body>
<nav class="navbar bg-primary" data-bs-theme="dark">
  <a class="nav-link" href="/">S8</a>
  -
  <a class="nav-link" href="/shows">Community Shows</a>
  -
  <a class="nav-link" href="/shows/watchlist">Watchlist</a>
  -
  <a class="nav-link" href="/shows/currently-watching">Currently Watching</a>
  -
  <a class="nav-link" href="/shows/seen-it">Seen It</a>
  -
  <% if (user?.profile.avatar) { %>
    <a class="nav-link" href="/profile/<%= user.profile._id %>">Profile</a>
  <% } %>


  <% if (user) { %>
    <a href="/auth/logout" class="right">
      <button type="submit">Logout</button>
    </a>
  <% } else { %>
    <div 
      id="g_id_onload"
      data-client_id="<%= googleClientID %>"
      data-login_uri="/auth/google"
      data-auto_prompt="false"
    ></div>
    <div 
      class="g_id_signin right"
      data-type="standard"
      data-size="large"
      data-theme="outline"
      data-text="sign_in_with"
      data-shape="rectangular"
      data-logo_alignment="left"
    ></div>
  <% } %>
</nav>

<br>

<main>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
      src="<%= user.profile.avatar %>"
      alt="<%= user.profile.name %> avatar"
      />
    </div>
    <% } %>
    
  <h1>Syndic8</h1>
  <h2>Keeping up with TV content made easy and social.<h2>
  <br>
  <h3>Enter a show title to search and add shows to your lists.</h3><br>

<form action="/query" method="POST">

  <label for="search-input"></label>
  <input name="query" value="enter show name" type="text" id="search-input">
  <input class="hidden" name="profileId" value="<%= user.profile._id %>" type="text" id="profile-id">

  <button type="submit">Search</button>
</form>

</main>


<%- include('./partials/footer') %>
