<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Episode View</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% results.episodes.forEach(episode => { %>
      <br>
      <div class="col-3" >
        <div id="episode-list">
          <%= episode.episode_number %>
          <br>
          <img width=10%" src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/<%= episode.still_path %>" alt=""> 
          <h5 id="episode-title">Episode Title: <%= episode.name %><h5>
          <p id="episode-description">Original Air Date: <%= episode.air_date %></p>
          <p id="episode-description">Description: <%= episode.overview %><p>
        </div>
      </div>
    <% }) %>
  </div>
</div> 

<%- include('../partials/footer') %>
