<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Search Results</h1>

<% if (results) { %>

  <% results.forEach(result => { %>
  
    <a href="/query/<%= result.id %>"><%= result.name %>
      <br>
      <img width=10%" src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/<%= result.poster_path %>" alt="">
    </a>
    <br>

    <%= result.overview %>
    <br>

    <form id="new-form" action="/shows/new" method="POST">
      <input value="<%= result.name %> " type="text" name="name">
      <button type="submit">WL</button>
    </form>
    <button>CW</button>
    <button>SI</button>
    <button >T8</button>
    
    
    <br>
    <br>

  <% }) %>

<% } %>







<%- include('../partials/footer') %>
