<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Search Results</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

<% if (results) { %>


  <% results.forEach(result => { %>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/<%= result.poster_path %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <a href="/query/<%= result.id %>"><%= result.name %>
            </a>
          </h5>
          
          <p class="card-text"><%= result.overview %></p>

          <form id="new-form" action="/shows/new" method="POST">
            <input class="hidden" value="<%= result.name %> " type="text" name="name">
            <input class="hidden" value="<%= result.id %> " type="text" name="tmbdShowId">
            <input class="hidden" value="<%= result.overview %> " type="text" name="description">
            <input class="hidden" value="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/<%= result.poster_path %>" type="text" name="imageUrl">
            <input class="hidden" value="watchlist" type="text" name="showType">
            <input class="hidden" value="<%= user.profile._id %> " type="text" name="profileId">
            <input class="hidden" value="<%= profileData._id %>" type="text" name="addedBy">
            <button class="btn btn-primary" type="submit">Watchlist</button>
          </form>

          <form id="new-form" action="/shows/new" method="POST">
            <input class="hidden" value="<%= result.name %> " type="text" name="name">
            <input class="hidden" value="<%= result.id %> " type="text" name="tmbdShowId">
            <input class="hidden" value="<%= result.overview %> " type="text" name="description">
            <input class="hidden" value="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/<%= result.poster_path %>" type="text" name="imageUrl">
            <input class="hidden" value="currently-watching" type="text" name="showType">
            <input class="hidden" value="<%= user.profile._id %> " type="text" name="profileId">
            <input class="hidden" value="<%= profileData._id %>" type="text" name="addedBy">
            <button class="btn btn-primary" type="submit">Currently Watching</button>
          </form>

          <form id="new-form" action="/shows/new" method="POST">
            <input class="hidden" value="<%= result.name %> " type="text" name="name">
            <input class="hidden" value="<%= result.id %> " type="text" name="tmbdShowId">
            <input class="hidden" value="<%= result.overview %> " type="text" name="description">
            <input class="hidden" value="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/<%= result.poster_path %>" type="text" name="imageUrl">
            <input class="hidden" value="seen-it" type="text" name="showType">
            <input class="hidden" value="<%= user.profile._id %> " type="text" name="profileId">
            <input class="hidden" value="<%= profileData._id %>" type="text" name="addedBy">
            <button class="btn btn-primary" type="submit">Seen It</button>
          </form>

          <form id="new-form" action="/shows/new" method="POST">  
            <input class="hidden" value="<%= result.name %> " type="text" name="name">
            <input class="hidden" value="<%= result.id %> " type="text" name="tmbdShowId">
            <input class="hidden" value="<%= result.overview %> " type="text" name="description">
            <input class="hidden" value="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/<%= result.poster_path %>" type="text" name="imageUrl">
            <input class="hidden" value="favorite" type="text" name="showType">
            <input class="hidden" value="<%= user.profile._id %> " type="text" name="profileId">
            <input class="hidden" value="<%= profileData._id %>" type="text" name="addedBy">
            <button class="btn btn-primary" type="submit">Favorite</button>
          </form>

        </div>
      </div>
    </div>
  <% }) %>
  
  <% } %>
</div>
</div>







<%- include('../partials/footer') %>
