<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Community Show List</h1>


  <% shows.forEach(show => { %>
    <%= show.name %>
    <br>
    <img width=10%" src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/<%= show.imageUrl %>" alt="">
    <br>
    Added By: <a href="/profile/<%= show.profileId %>"><%= show.addedBy.userName %></a> 
    <br>
    Added to: <%= show.showType %> 
    <br>
    <br>
    <% }) %>  


<%- include('../partials/footer') %>
