<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Community Show List</h1>

<ul>
  <% shows.forEach(show => { %>
    <li><%= show.name %> </li>
    <li>
      Added By: <a href="/profile/<%= show.profileId %>"><%= show.addedBy %></a>
      <%= show.profileId %> 
    </li>
    <li>
      <%= show.showType %> 
    </li>
      <br><br>
    <% }) %>  
</ul>

<%- include('../partials/footer') %>
