<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Review Details</h1>

Author: <%= review.author %> 
<br>

Title: <%= review.reviewTitle %> 
<br>

Review Content: <%= review.reviewContent %> 
<br>

Review Rating: <%= review.rating %> 

<%- include('../partials/footer') %>