<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 id="header">Seen It</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    
    <% shows.forEach(show => { %>
      <% if (show.addedBy.equals(user?.profile._id)) { %> 
        
        <div class="col">
          <div class="card" style="width: 18rem;">
            <a href="/shows/<%= show._id %>">
              <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/<%= show.imageUrl %>" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title">
                <a href="/query/<%= show.tmbdShowId %>">  
                  <%= show.name %>
                </a>
              </h5>
              <p class="card-text"><%= show.description %></p>

              <form action="/shows/<%= show._id %>" method="GET">
                <button id="action-button" class="col-12">Write Review</button>
              </form>
              <form action="/shows/<%= show._id %>?_method=DELETE" method="POST">
                <button id="action-button" class="col-12">Remove</button>
              </form>
        
            </div>
          </div>
        </div>
      <% } %> 
    <% }) %>  
  </div>
</div>    


<%- include('../partials/footer') %>
