<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Seen It</h1>

<ul>
  <% shows.forEach(show => { %>
    <% if (show.showType === "seen-it") { %> 
      <li><%= show.name %> </li>
      <a href="/shows/<%= show._id %>">DETAILS</a>
    <% } %> 
  <% }) %>  
</ul>

<%- include('../partials/footer') %>
