<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Seen It</h1>

<div class="container">
  <div class="row">
    
    <% shows.forEach(show => { %>
      <% if (show.addedBy.equals(user?.profile._id)) { %> 
        
        <div class="col">
          <div class="card" style="width: 18rem;">

            <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/<%= show.imageUrl %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a href="/shows/<%= show._id %>"><%= show.name %></a></h5>
              <p class="card-text"><%= show.description %></p>
              <form action="/shows/<%= show._id %>?_method=DELETE" method="POST">
                <button>Remove</button>
              </form>
        
            </div>
          </div>
        </div>
      <% } %> 
    <% }) %>  
  </div>
</div>    


<%- include('../partials/footer') %>
