<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 id="header">Watchlist</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% shows.forEach(show => { %>
      <% if (show.addedBy.equals(user?.profile._id)) { %> 
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/<%= show.imageUrl %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">
                <a href="/query/<%= show.tmbdShowId %>">
                  <%= show.name %>
                </a>
              </h5>
              <p class="card-text"><%= show.description %></p>
              <div class="col text-center">
                <form action="/shows/<%= show._id %>/update-show-type?_method=PATCH" method="POST">
                  <input class="hidden" value="currently-watching" type="text" name="showType">
                  <button id="action-button" class="col-12" type="submit">Currently Watching</button>
                </form>
                <form action="/shows/<%= show._id %>?_method=DELETE" method="POST">
                  <button id="action-button" class="col-12">Remove</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      <% } %> 
    <% }) %>  
  </div>
</div>

<%- include('../partials/footer') %>
