<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Watchlist</h1>
    </div>
  </div>
</div>

  <div class="container">
    <div class="row">
      <% shows.forEach(show => { %>
        <% if (show.addedBy.equals(user?.profile._id)) { %> 
      
          <div class="col">
            <div class="card" style="width: 18rem;">

              <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/<%= show.imageUrl %>" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><%= show.name %></h5>
                <p class="card-text"><%= show.description %></p>
                <form action="/shows/<%= show._id %>/update-show-type?_method=PATCH" method="POST">
                  <input class="hidden" value="currently-watching" type="text" name="showType">
                  <button class="btn btn-primary" type="submit">Currently Watching</button>
                </form>
                <form action="/shows/<%= show._id %>?_method=DELETE" method="POST">
                  <button class="btn btn-primary">Remove</button>
                </form>
              </div>

            </div>
          </div>
          
        <% } %> 
      <% }) %>  
        </div>
      </div>


<%- include('../partials/footer') %>
